<%= form_with(model: @room, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-check">
    <%= f.check_box :anyone_can_join, class: "form-check-input" %>
    <%= f.label :anyone_can_join, class: "form-check-label" %>
  </div>

  <div class="form-group">
    <%= f.label :creator_id %>
    <%= f.collection_select :creator_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :team_id, value: @team.id %>

  <div class="form-check">
    <%= f.check_box :hidden, class: "form-check-input" %>
    <%= f.label :hidden, class: "form-check-label" %>
  </div>

  <%= f.submit "Create room", class: "btn btn-block btn-outline-secondary" %>
<% end %>
