<div class="card mb-3">
  <h2 class="card-header h4">
    Topic #<%= topic.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Room</dt>
      <!-- Display room_id start -->
      <dd>
        <% if @topic.room.present? %>
          <%= link_to topic.room, topic.room %>
        <% end %>
      </dd>
      <!-- Display room_id end -->

      <dt>Name</dt>
      <!-- Display name start -->
      <dd><%= topic.name %></dd>
      <!-- Display name end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back topic, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link topic start -->
      <div class="col">
        <%= link_to edit_topic_url(topic), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link topic end -->

      <!-- Delete link topic start -->
      <div class="col">
        <%= link_to topic, method: :delete, data: { confirm: "Do you really want to delete this topic?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link topic end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(topic.updated_at) %> ago
  </div>
</div>
