<% was_validated = topic.errors.any? %>

<%= form_with(model: topic, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for room_id start -->
  <div class="form-group">
    <% room_class = "form-control" %>
    <% room_was_invalid = topic.errors.include?(:room) %>

    <% if was_validated %>
      <% if room_was_invalid %>
        <% room_class << " is-invalid" %>
      <% else %>
        <% room_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :room_id %>
    <!-- Input for room_id start -->
    <%= f.collection_select :room_id, Room.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for room_id end -->
    <% if room_was_invalid %>
      <% topic.errors.full_messages_for(:room).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for room_id end -->
  <!-- Label and input for name start -->
  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = topic.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>
    <!-- Input for name start -->
    <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
    <!-- Input for name end -->
    <% if name_was_invalid %>
      <% topic.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for name end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
