<%= form_with(model: @membership, local: true) do |f| %>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :team_id %>
    <%= f.collection_select :team_id, Team.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create membership", class: "btn btn-block btn-outline-secondary" %>
<% end %>
