<% was_validated = room.errors.any? %>

<%= form_with(model: room, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = room.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
    <% if name_was_invalid %>
      <% room.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-check">
    <% open_to_public_class = "form-check-input" %>
    <% open_to_public_was_invalid = room.errors.include?(:open_to_public) %>

    <% if was_validated %>
      <% if open_to_public_was_invalid %>
        <% open_to_public_class << " is-invalid" %>
      <% else %>
        <% open_to_public_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :open_to_public, class: "form-check-label" do %>
      <%= f.check_box :open_to_public, class: open_to_public_class %> Open to public
    <% end %>
    <% if open_to_public_was_invalid %>
      <% room.errors.full_messages_for(:open_to_public).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
