<%= form_with(model: @topic, local: true) do |f| %>

  <%= f.hidden_field :room_id, value: @room.id %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= f.submit "Create topic", class: "btn btn-block btn-outline-secondary" %>
<% end %>
