<!-- Form topic start -->
<%= form_with(model: @topic, local: true) do |f| %>
<!-- Form topic end -->

  <!-- Label and input for room_id start -->
  <!-- Input for room_id start -->
  <%= f.hidden_field :room_id, value: @room.id %>
  <!-- Input for room_id end -->
  <!-- Label and input for room_id end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <%= f.label :name %>
    <!-- Input for name start -->
    <%= f.text_field :name, class: "form-control" %>
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <%= f.submit "Create topic", class: "btn btn-block btn-outline-secondary" %>
<% end %>
